body{
    font-family:'Montserrat-Black', sans-serif;
}
#title{
    background-color: #ff4c68;
    color:#fff;
    position: relative;
    z-index: -1;
}
h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    line-height:1.5;
}
h3{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
}
.container-fluid{
    padding: 3% 15%;
}
@media (max-width:1028px){
    #title{
        text-align:center;
        position: static;
        
    }
    h1{
        font-size: 2rem;
        line-height: 1.5;
    }
    h2{
        font-family: 'Montserrat-Bold', sans-serif;
        font-size: 1.5rem;
        line-height:1.5;
    }
    #feature{
        position:static;
        z-index:1;
        bottom: 0px;
    }
}

/* navbar */
.navbar-brand{
    font-family:"Ubuntu";
    font-size: 2.5rem;
}
.navbar{
    padding-bottom: 2.5rem;
}
.nav-link{
    font-size: 1.2rem;
    font-family:"Montserrat-Light" sans-serif;
}
/* donwload button */
.download-botton{
    margin: 5% 3% 5% 0;
}

/* title image */

.title-image{
    width:60%;
    transform: rotate(25deg);
}
/* section2 */
#features{
    background-color: #fff;
    padding: 12% 15% 0% 15%;
    position:relative;
    z-index:1;
    bottom: 175px;
}
.feature-box{
    text-align: center;
}

.feature-box p{
    color:#8f8f8f;
    
}
/* icon */
.feature-box i{
    margin: 10px auto;
    color: #ef8172;
}
.feature-box h3{
    font-size: 1.5rem;
}
.feature-box i:hover{
    color: #ff4c68;
}
/* Testimonials */
#testimonials{
    text-align:center;
    background-color:#ef8172;
    color:#fff;
    
}
.carousel-item{
    padding: 7% 15%;
}
.testimonials-image{
    width:15%;
    border-radius: 100%;
    margin: 20px 20px;
}

/* press */
#press{
    background-color: #ef8172;
    padding-bottom: 3px;
    text-align: center;
}
.press-logo{
    width:15%;
    margin: 20px 20px;
}

/* pricing */
#pricing{
    padding:50px;
    text-align:center;
}
/* cta */
#cta{
    background-color: #ff4c68;
    color:#fff;
    font-family: 'Montserrat-Black', sans-serif;
    padding: 50px;
    text-align:center;
}
.footer-botton{
    margin: 10px auto;
}
.footer-botton > i{
    margin: 4px;
}
#cta >h3{
    font-weight: 900;
    font-size: xxx-large;
    margin: 10px;
    padding: 10px;
}
/* footer */
#footer{
    padding: 40px;
    text-align:center;
}
#footer > i{
    margin:5px;
    
}
#footer > p{
    margin: 12px;
    color: #8f8f8f;
}
